.heading{
  font-family: sans-serif;
  font-size: 22px;
  color:#827373;
  font-weight: lighter;
}

.input_label{
font-weight: 500!important;
}

.horizontal_line{
border-top: 2px solid #eee;
margin-left: 15px!important;
margin-top: 0px!important;
margin-bottom:0px!important;
}
.input_size{
height: 30px;!important
}

p.note{
font-size: 11px;
margin-top:5px;

}

button:hover{
  background-color:#808080!important;
  color: white!important;
}
button:active{
  background-color:#808080!important;
  color: white!important;
}
button:focus{
  background-color:#808080!important;
  color: white!important;
  border-color:#808080!important;
}
button{
width:120px!important;

}

button#add_signature{
margin-left:30px;
}

button.attach{
margin-top: 5px;
width:auto!important;
}
button.attach:hover{
  background-color: #337ab7!important;
}

label{
text-align:justify!important;
margin-left: 15px!important;
}

span#basic-addon{
  background-color: white!important;
}

#required_field{
margin: 0px;
float: left;
}
.specify{
color: grey;
padding: 8px
}
p#attach_formula{
  margin-left:15px;
}
p{
  margin-bottom:0px!important;
}
p#formula_not_exist{
  margin-top: -14px!important;
}

.checkbox label{
  margin-left:0px!important;
}

.checkboxdiv{
  display: block!important;
}
.check{
display: block!important;
}
